@import "vendors/reset";
@import "loader.scss";
@import "customSelect.scss";

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background: url("../assets/images/background.jpg") no-repeat fixed;
  background-size: cover;
  font-family: "Immortal", serif;
}
//button animations
@mixin transition(
  $property: all,
  $duration: 0.5s,
  $ease: cubic-bezier(0.65, -0.25, 0.25, 1.95)
) {
  transition: $property $duration $ease;
}
@keyframes anim-glow {
  0% {
    box-shadow: 0 0 rgba(#61ef61, 1);
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
// include polices
@font-face {
  font-family: "Immortal";
  src: url("../assets/fonts/IMMORTAL.ttf") format("ttf");
}
//div who contains cards, should call it card--container
.cards {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 20px;
  margin: 9.5%;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      width: 220px;
      flex-direction: row;
      margin: 5px;
      // cards hover effect, little bit of work required, like flam or shiny effect
      img:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-left: 5px solid rgba(0, 0, 0, 0.8);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
          0 10px 10px rgba(0, 0, 0, 0.22), 0 0 5px 2px rgb(255, 255, 255, 0.6),
          0 0 10px 5px rgb(178, 26, 224);
      }
    }
  }
}
// button container
.start--button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  .button {
    // text isn't well positioned yet
    border: solid white 2px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.2em;
    text-align: center;
    &.begin {
      @include transition(all, 0.5s, cubic-bezier(0.65, -0.25, 0.25, 1.95));
      font-weight: 900;
      color: #ffff;
      padding: 1.25rem 2rem;
      background: #3ba95c;
      opacity: 90%;
      text-transform: uppercase;
      &:hover,
      &:focus,
      &:active {
        animation: anim-glow 1s ease infinite;
        opacity: 65%;
        // rem = roumain en moto
        letter-spacing: 0.4rem;
      }
    }
  }
}
.hidden {
  display: none;
}
.img--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick--number {
  top: 12%;
  right: 31%;
  position: absolute;
  width: auto;
  height: auto;
  color: black;
  font-size: 55px;
  -webkit-text-stroke: 1px white;
}
// .extension--selector {
//   color: #ffff;
//   background: #3ba95c;
//   opacity: 90%;
//   font-family: inherit;
//   font-size: large;
// }
// .selector--container {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: auto;
//   margin-top: 2%;
// }
/* The container must be positioned relative: */
